<!DOCTYPE html>
<html>

<body>
    <center>
        <div>
            <table>
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td>
                                    <table>
                                        <tr>
                                            <!-- Adding the header with your logo here -->
                                            <td align="center">
                                                <img src="http://your-logo-url.png" alt="Logo"
                                                    style="display: block; width: 200px; height: auto; margin: 0 auto;" />
                                            </td>
                                        </tr>
                                        <!-- Your email content goes here... -->
                                        <tr>
                                            <td>
                                                <!-- Adding the footer with social media icons here -->
                                                <table>
                                                    <tr>
                                                        <td align="center" style="padding: 20px;">
                                                            <a href="https://www.instagram.com/yourusername/">
                                                                <img src="http://instagram-icon-url.png" alt="Instagram"
                                                                    style="width: 30px; height: auto;" />
                                                            </a>
                                                            <a href="https://www.facebook.com/yourusername/">
                                                                <img src="http://facebook-icon-url.png" alt="Facebook"
                                                                    style="width: 30px; height: auto;" />
                                                            </a>
                                                            <a href="https://www.tiktok.com/@yourusername">
                                                                <img src="http://tiktok-icon-url.png" alt="TikTok"
                                                                    style="width: 30px; height: auto;" />
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </center>
</body>

</html>